@font-face {
  font-family: "RobotoMono";
  src: url("./fonts/RobotoMono-Thin.ttf");
}

* {
  font-family: "RobotoMono";
}

body {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  
  color: black;
  background: linear-gradient(to right, rgb(55, 59, 68), rgb(66, 134, 244));
}