:root {
    --bg-button:  rgb(225, 241, 255);
    --border-button: solid 1px rgb(42, 42, 42);
}

.button {
    font-size: 1.4rem;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}

.button:active {
    background-color:  rgb(192, 226, 255);
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}

.button.operation {
    background-color: rgb(107, 161, 246);
    color: #fff;
}

.button.operation:active {
    background-color: rgb(66, 134, 244);
}